<h1>James Rusty Haner</h1>
<hr>
<h2>Personal Profile Page</h2>
<%= image_tag("prof_picture.jpg") %>
<p>
James "Rusty" Haner (1987, New York & Memphis, United States) makes animated films, web sites, and assists on game development projects. He is currently working with iDesygn Creative on Foster Care Film & Community Engagement Project, a series of short films including Feeling Wanted and My Identiy. He was also an VFX/Animation Artist on the documentary film Beyond the Bricks. He is also working with VisionCore Labs, branching out into game development. He also works with the Memphis Redibrds, the Minor League (AAA) affiliate of the Saint Louis Cardinals. He specializes in character animation and dynamic simulation of cloth and hair effects. His hobbies include quoting movies, swimming, video games, traveling, and spending time with family. James Haner currently lives and works in Memphis and New York.
</p>
<ul>
    <li><%= link_to('Review',"review#show") %></li>
</ul>