<h1>Software Review</h1>
<h2>GNU Image Manipulation Program</h2>
<hr>
<h3>3 of 5 stars</h3>
<%= image_tag("gimp.jpg") %>
<h3>Stats:</h3>
<p>Windows/Mac OSX/Linux/BSD
<br>
v2.10.8
<br>
The GIMP Team
<br>
</p>
<p>This software is meant to be a replacement for Photoshop, but lacks advanced features and has a confusing user interface.</p>
<h3>Rate this Review:</h3>
<form>
Name: <input type='text'><Br>
Comments: <textarea></textarea><br>
You liked this: <br>
True: <input type='radio'><br>
<datalist>Datalist</datalist><br>
<button>Submit</button>

